# Export all functions that should be available to users
export(power_analysis)
export(sample_size_analysis)
export(simulate_rct_data)
export(bayesian_power_curve)
export(plot_power_curve)
export(effect_size_analysis)

# Import functions from other packages
importFrom(magrittr, "%>%")
importFrom(rlang, .data)
importFrom(stats, rnorm, rbinom, rpois)
importFrom(utils, head, tail)

# Import packages
import(ggplot2)
import(dplyr)
